<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>action.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBank</servlet-name>
        <servlet-class>action.AddBank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>action.AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>action.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>action.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBeneficiary</servlet-name>
        <servlet-class>action.GetBeneficiary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBeneficiary</servlet-name>
        <servlet-class>action.AddBeneficiary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAccountDetails</servlet-name>
        <servlet-class>action.GetAccountDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTransactions</servlet-name>
        <servlet-class>action.GetAllTransactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMoney</servlet-name>
        <servlet-class>action.SendMoney</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImageDt</servlet-name>
        <servlet-class>cryptography.AddImageDt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CombineShare</servlet-name>
        <servlet-class>cryptography.CombineShare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadShare</servlet-name>
        <servlet-class>cryptography.UploadShare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateCaptcha</servlet-name>
        <servlet-class>cryptography.ValidateCaptcha</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBank</servlet-name>
        <url-pattern>/AddBank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBeneficiary</servlet-name>
        <url-pattern>/GetBeneficiary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBeneficiary</servlet-name>
        <url-pattern>/AddBeneficiary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAccountDetails</servlet-name>
        <url-pattern>/GetAccountDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTransactions</servlet-name>
        <url-pattern>/GetAllTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMoney</servlet-name>
        <url-pattern>/SendMoney</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImageDt</servlet-name>
        <url-pattern>/AddImageDt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CombineShare</servlet-name>
        <url-pattern>/CombineShare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadShare</servlet-name>
        <url-pattern>/UploadShare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateCaptcha</servlet-name>
        <url-pattern>/ValidateCaptcha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
